
databaseTrial.py
__pycache__/
insights/*.csv
problemsfaced.txt
*.csv
ap.py
dashboard.py

*.sql
trial.py
app2.py
*.zip
*.db
*.env
*.json
migrate_sql_to_postgre.py
*db
migrate.py
secrets.toml
export_data.py