.sidebar {
    position: fixed;
    top: 80px;
    /* distance from top (below navbar) */
    left: 16px;
    /* distance from left edge */
    width: 230px;
    height: calc(100vh - 96px);
    /* full height minus top gap + bottom gap */
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    background: #ffffff;
    border-radius: 16px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11); */
    z-index: 50;
    box-sizing: border-box;
    overflow-y: auto;
    border: #e3e3e3 solid 1px;

}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nav-links a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 10px;
    transition: all 0.2s ease;
    border-radius: 20px;

}

.nav-links a:hover {
    color: #fdfafa;
    background: #313131;

    /* transition: ease-in-out 0.4s; */
}